<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{/general/head.html}"></div>
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>

<!-- Editable CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.dataTables.min.css}">
<link th:href="@{/css/login-register-lock.css}" rel="stylesheet">
<link th:href="@{/css/jquery.toast.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/css/style.min.css}" rel="stylesheet">
<!-- page css -->
<link th:href="@{/css/pages/inbox.css}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-blue fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">CRM</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div th:insert="~{/general/header.html}"></div>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div th:insert="~{/general/left-sidebar.html}"></div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">Modifier un budget</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="${home}">Accueil</a></li>
                            <li class="breadcrumb-item"><a th:href="${home + 'budget/list'}">Budgets</a></li>
                            <li class="breadcrumb-item active">Modifier un budget</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            
            <!-- Messages d'alerte -->
            <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${error}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Modifier le budget</h4>
                            <form th:action="${home + 'budget/update'}" method="post">
                                <input type="hidden" name="id" th:value="${budget.id}">
                                
                                <div class="form-group">
                                    <label for="name">Nom du budget</label>
                                    <input type="text" class="form-control" id="name" name="name" 
                                           required th:value="${budget.name}">
                                </div>
                                
                                <div class="form-group">
                                    <label>Client</label>
                                    <input type="text" class="form-control"
                                           th:value="${budget.customer.name + ' (' + budget.customer.email + ')'}"
                                           readonly>
                                    <input type="hidden" name="customerId" th:value="${budget.customer.customerId}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="amount">Montant (€)</label>
                                    <input type="number" class="form-control" id="amount" name="amount"
                                           step="0.01" min="0" required
                                           th:value="${budget.amount}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="startDate">Date de début</label>
                                    <input type="date" class="form-control" id="startDate" name="startDate" required
                                           th:value="${#dates.format(budget.startDate, 'yyyy-MM-dd')}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="endDate">Date de fin</label>
                                    <input type="date" class="form-control" id="endDate" name="endDate" required
                                           th:value="${#dates.format(budget.endDate, 'yyyy-MM-dd')}">
                                </div>
                                
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea class="form-control" id="description" name="description" 
                                              rows="3" th:text="${budget.description}"></textarea>
                                </div>
                                
                                <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
                                <a th:href="${home + 'budget/customer/' + budget.customer.customerId}" class="btn btn-secondary">Annuler</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div th:insert="~{/general/right-sidebar.html}"></div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <div th:insert="~{/general/footer.html}"></div>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script th:inline="javascript">
    var home = /*[[${home}]]*/ null;
</script>
<script th:src="@{/js/library/jquery-3.2.1.min.js}" type="text/javascript">></script>
<!--    &lt;!&ndash; Bootstrap tether Core JavaScript &ndash;&gt;-->
<script th:src="@{/js/library/popper.min.js}" type="text/javascript">></script>
<script th:src="@{/js/library/bootstrap.min.js}" type="text/javascript">></script>
<!--    &lt;!&ndash; slimscrollbar scrollbar JavaScript &ndash;&gt;-->
<script th:src="@{/js/library/perfect-scrollbar.jquery.min.js}" type="text/javascript">></script>
<!--Wave Effects -->
<script th:src="@{/js/library/waves.js}" type="text/javascript">></script>
<!--Menu sidebar -->
<script th:src="@{/js/library/sidebarmenu.js}" type="text/javascript">></script>
<!--stickey kit -->
<script th:src="@{/js/library/sticky-kit.min.js}"></script>
<script th:src="@{/js/library/jquery.sparkline.min.js}" type="text/javascript">></script>
<!--Custom JavaScript -->

<script th:src="@{/js/library/custom.min.js}" type="text/javascript">></script>
<script th:src="@{/js/library/jquery.toast.js}"></script>
<script th:src="@{/js/library/toastr.js}"></script>
<!-- Form validation -->
<script>
    // Date validation script to ensure end date is after start date
    document.getElementById('startDate').addEventListener('change', function() {
        document.getElementById('endDate').min = this.value;
    });
    
    // Set initial min value for end date
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('endDate').min = document.getElementById('startDate').value;
    });
</script>
</body>
</html>
